[KGameTheme]
VersionFormat=1
Name=KSame Default Theme
Description=KSame Default Theme
FileName=default_theme.svgz
Author=Michał Bartecki
AuthorEmail=mkbart@gmail.com
