[KGameTheme]
VersionFormat=1
Name=KSame Default Theme
Name[ast]=Tema predefiníu pa KBreakOut
Name[ca]=Tema predeterminat del KSame
Name[de]=Standard
Name[en_GB]=KSame Default Theme
Name[es]=Tema predeterminado para KSame
Name[et]=KSame vaiketeema
Name[nds]=KSame-Standardmuster
Name[nl]=Standaardthema van KSame
Name[pt]=Tema Predefinido do KSame
Name[pt_BR]=Tema padrão do KSame
Name[ru]=Оформление по умолчанию для KSame
Name[sv]=Ksame standardtema
Name[uk]=Типова тема KSame
Name[x-test]=xxKSame Default Themexx
Name[zh_CN]=KSame 默认主题
Name[zh_TW]=KSame 預設主題
Description=KSame Default Theme
Description[ast]=Tema predefiníu pa KBreakOut
Description[ca]=Tema predeterminat del KSame
Description[de]=Das Standard-Design von KSame.
Description[en_GB]=KSame Default Theme
Description[es]=Tema predeterminado para KSame
Description[et]=KSame vaiketeema
Description[nds]=KSame-Standardmuster
Description[nl]=Standaardthema van KSame
Description[pt]=Tema Predefinido do KSame
Description[pt_BR]=Tema padrão do KSame
Description[ru]=Оформление по умолчанию для KSame
Description[sv]=Ksame standardtema
Description[uk]=Типова тема KSame
Description[x-test]=xxKSame Default Themexx
Description[zh_CN]=KSame 默认主题
Description[zh_TW]=KSame 預設主題
FileName=default_theme.svgz
Author=Michał Bartecki
AuthorEmail=mkbart@gmail.com
