[Desktop Entry]
Name=SameGame
Name[af]=Samegame
Name[be]=Гульня Same
Name[bn]=সেইমগেম
Name[br]=Heñvelded
Name[ca]=Joc iguals
Name[cs]=Same
Name[cy]=YrUnGêm
Name[da]=Samspil
Name[de]=Probiere
Name[eo]=Samludo
Name[es]=Juego Iguales
Name[et]=Sama mäng
Name[fa]=همین بازی
Name[fi]=KSame
Name[fr]=Jeu Same
Name[gl]=Iguais
Name[hr]=Ista Igra
Name[hu]=KSame
Name[is]=Sama spil
Name[ja]=さめがめ
Name[ne]=उस्तै खेल
Name[pa]=ਸੇਮ ਖੇਡ
Name[pl]=ToSamo
Name[pt_BR]=Jogo dos Iguais
Name[ro]=Identice
Name[ru]=Игра Same
Name[sk]=Same
Name[sv]=Samegame
Name[ta]=அதே விளையாட்டு
Name[te]=సేమ్ గేమ్
Name[tg]=Бозии Same
Name[tr]=AynıOyun
Name[uk]=Та сама гра
Name[wa]=Djeu Same Game
Name[x-test]=xxSameGamexx
Name[xh]=Ikwa ngumdlalo ofanayo
Exec=ksame -caption "%c"
Type=Application
X-DocPath=ksame/index.html
GenericName=Board Game
GenericName[af]=Bord Speletjie
GenericName[be]=Настольная гульня
GenericName[bn]=ছককেন্দ্রিক খেলা
GenericName[br]=Ur c'hoari taolenn
GenericName[ca]=Joc de taula
GenericName[cs]=Desková Same
GenericName[cy]=Gêm Fwrdd
GenericName[da]=Brætspil
GenericName[de]=Brettspiel
GenericName[el]=Επιτραπέζιο παιχνίδι
GenericName[eo]=Bretludo
GenericName[es]=Juego de tablero
GenericName[et]=Lauamäng
GenericName[eu]=Mahai-jokoa
GenericName[fa]=بازی تخته
GenericName[fi]=Lautapeli
GenericName[fr]=Jeu de plateau
GenericName[ga]=Cluiche Boird
GenericName[gl]=Xogo de taboleiro
GenericName[he]=משחק לוח
GenericName[hr]=Igra na ploči
GenericName[hu]=Táblajáték
GenericName[is]=Borðleikur
GenericName[it]=Gioco da tavolo
GenericName[ja]=ボードゲーム
GenericName[km]=ល្បែង​ក្ដារ
GenericName[ko]=보드 게임
GenericName[lt]=Stalo žaidimas
GenericName[lv]=Galda spēle
GenericName[mk]=Игра на табла
GenericName[nb]=Brettspill
GenericName[nds]=Brettspeel
GenericName[ne]=बोर्ड खेल
GenericName[nl]=Bordspel
GenericName[nn]=Brettspel
GenericName[pa]=ਬੋਰਡ ਖੇਡ
GenericName[pl]=Gra planszowa
GenericName[pt]=Jogo de Tabuleiro
GenericName[pt_BR]=Jogo de Tabuleiro
GenericName[ro]=Un joc de table
GenericName[ru]=Настольная игра
GenericName[se]=Duolbbášspeallu
GenericName[sk]=Stolová hra
GenericName[sl]=Namizna igra
GenericName[sv]=Brädspel
GenericName[ta]=பலகை விளையாட்டு
GenericName[te]=పలక ఆట
GenericName[tg]=Бозии Рӯи Мизӣ
GenericName[tr]=Tahta Oyunu
GenericName[uk]=Гра на дошці
GenericName[uz]=Stol oʻyini
GenericName[uz@cyrillic]=Стол ўйини
GenericName[vi]=Game bàn 
GenericName[wa]=Djeu d' platea
GenericName[x-test]=xxBoard Gamexx
GenericName[xh]=Umdlalo Webhodi
GenericName[zh_CN]=色块消去游戏
GenericName[zh_TW]=棋盤遊戲
Icon=ksame
X-KDE-StartupNotify=true
X-DBUS-StartupType=Multi
Categories=Qt;KDE;Game;StrategyGame;
