<?xml version="1.0" encoding="UTF-8"?>
<gui name="ksame"
     version="11"
     xmlns="http://www.kde.org/standards/kxmlgui/1.0"
     xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
     xsi:schemaLocation="http://www.kde.org/standards/kxmlgui/1.0
                         http://www.kde.org/standards/kxmlgui/1.0/kxmlgui.xsd">

<MenuBar>
    <Menu name="settings"><text>&amp;Settings</text>
        <Action name="random_board"/>
        <Action name="showNumberRemaining"/>
        <Action name="select_theme"/>
        <Separator/>
        <Action name="options_configure_keybinding"/>
    </Menu>
</MenuBar>

<ToolBar name="mainToolBar"><text>Main Toolbar</text>
    <Action name="game_new"/>
    <Separator />
    <Action name="move_undo"/>
</ToolBar>

</gui>
